@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/cascadia-code.min.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.mainFrame {
  color: white;
  background-color: #1f272e;
  font-family: "Cascadia Code", "Fira Code", "Roboto", monospace, sans-serif;
}
