.aboutMeHeader {
 font-size: 40px;
}

.aboutMeDescription {
 margin-top: 0.25vh;
 font-size: 22px;
 font-family: "Cascadia Code", "Fira Code", "Roboto", monospace, sans-serif;
 text-align: justify;
}

.aboutMeDescription p {
 margin: 0;
}

.aboutMeImageContainer {
 float: left;
 align-items: flex-end;
}

.aboutMeImage {
 float: right;
 margin: 0;
}

.headerContainer {
 margin-top: 1vh;
 border-bottom: 1px solid #464646;
}
