.aboutMeDescription {
  font-family: "Cascadia Code", "Fira Code", "Roboto", monospace, sans-serif;
  text-align: justify;
}

.aboutMeImageContainer {
  float: right;
  padding-top: 1vh;
}

.aboutMeImage {
  float: right;
  margin: 0;
  width: 80%;
  height: fit-content;
}

.aboutMeDescription p {
  margin: 0;
}
