a,
.link,
.link a {
  color: "white";
  text-decoration: "none";
  font-size: "large";
  font-family: "Cascadia Code";
  margin-right: "0.2vw";
}

.navbar {
  border-bottom: "1px solid #464646";
}

.brand {
  margin-left: "1vw";
}
